@{
  Layout = "_Layout";
}

@using UniversityRegistrar.Models;

<h1>Welcome to the University Registrar!</h1>
<hr>

<h4>Students</h4>
@if (Model["students"].Length == 0)
{
  <p>No students have been added yet!</p>
} 
<ul>
  @foreach (Student stu in Model["students"])
  {
    <li>@Html.ActionLink(@stu.Name, "Details", "Students", new { id = @stu.StudentId})</li>
  }
</ul>

<h4>Courses</h4>
@if (Model["courses"].Length == 0)
{
  <p>No courses have been added yet!</p>
} 
<ul>
  @foreach (Course course in Model["courses"])
  {
    <li>@Html.ActionLink(@course.CourseName, "Details", "Courses", new { id = @course.CourseId})</li>
  }
</ul>

<hr>


<p>@Html.ActionLink("Manage courses", "Index", "Courses")</p> 
<p>@Html.ActionLink("Manage students", "Index", "Students")</p>
<p>@Html.ActionLink("Manage departments", "Index", "Departments")</p>